body {
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-family: 'Nunito', sans-serif;
  color: #102b3f;
}

.heading {
  color: white;
  font-size: 3rem;
}

.container {
  margin-top: 2rem;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  min-width: 35%;
}

.details {
  display: flex;
  align-items: center;
}

.date-details {
  border-right: 2px solid rgb(197, 197, 197);
  width: 60%;
}

#date {
  font-size: 5rem;
  font-weight: bold;
  margin-right: 1rem;
}

.superscript {
  font-size: 2rem;
}

#day {
  font-size: 3rem;
}

#month-year {
  font-size: 1.2rem;
}

.tasks-left-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

#tasks-left {
  font-size: 3.5rem;
  font-weight: bold;
  color: #fe2f1e;
}

.tasks-left-text {
  font-size: 1.2rem;
}

.add-task {
  margin: 2rem 0;
}

#add-task-form {
  display: flex;
  justify-content: center;
}

#add-task-input {
  border: none;
  border-bottom: 1px solid #102b3f;
  outline: none;
  font-size: 1.5rem;
  color: #102b3f;
  width: 100%;
}
.add-task-button {
  border: none;
  outline: none;
  background-color: white;
  font-size: 2rem;
  color: #102b3f;
  cursor: pointer;
}

#tasks-list {
  list-style: none;
  padding: 0;
}

.task {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-edit-form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0 1.2rem;
}

.task-input {
  width: 100%;
  color: #102b3f;
  background: none;
  outline: none;
  border: none;
  border-radius: 2px;
  font-size: 1.1rem;
  padding: 0.3rem 0.5rem;
  margin-right: 1rem;
}

.task-checkbox {
  width: 20px;
  height: 15px;
  cursor: pointer;
  outline: none;
}

.task-icon {
  font-size: 1.1rem;
  cursor: pointer;
  background-color: white;
  padding: 0;
  border: none;
  color: #102b3f;
  outline: none;
}

.task-completed {
  text-decoration: line-through;
  color: #adb5bd;
}

.clear-all-tasks {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

#clear-all-tasks-button {
  background-color: #fe2f1e;
  border: none;
  outline: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

@media (max-width: 768px) {
  #date {
    font-size: 3rem;
  }

  #day {
    font-size: 2rem;
  }
}
